/MeshTool/.vs/
/MeshTool/MeshTool/.vs/
/MeshTool/x64/
/MeshTool/Debug/
/MeshTool/Release/
/MeshTool/MeshTool/Debug/
/MeshTool/MeshTool/Release/
/MeshTool/MeshTool/x64/Debug/
/MeshTool/MeshTool/x64/Release/
