/MeshPainter/.vs/
/MeshPainter/MeshPainter/.vs/
/MeshPainter/x64/
/MeshPainter/Debug/
/MeshPainter/Release/
/MeshPainter/MeshPainter/Debug/
/MeshPainter/MeshPainter/Release/
/MeshPainter/MeshPainter/x64/Debug/
/MeshPainter/MeshPainter/x64/Release/
/doc/
